:root {
  --hf: #68a691;
  --box: #bfd3c1;
  --bg: #ffe5d4;
  --txt: #efc7c2;
}

body {
  background-color: var(--bg);
  font-family: optima;
  font-size: 20px;
}

main {
  background-color: var(--box);
  text-align: center;
  height: 75%;
  width: 50%;
  margin: auto;
  padding: 20px;
}

form label,input {
  display: block;
  text-align: left;
  margin: 5px;
  padding: 5px;
}

button {
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  font-family: optima
  border-radius: 15px;
  background-color: var(--txt);
}

footer {
  background-color: var(--hf);
  margin-top: 20px;
  padding: 20px;
}